.Resource-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 2rem auto 0 auto;
  gap: 2rem;
}

.Resource-container > div {
  background: #78a1ef;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  flex: 1 1 30%;
  min-width: 250px;
  height: auto;
 }


.Resource-container img {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 6px;
  object-fit: cover;
  margin-bottom: 1rem;
  max-height: 200px;
  display: block;
}


.Resource-container > div:nth-child(4) {
  margin-left: 17%;
}


.Resource-container > div:nth-child(5) {
  margin-right: 17%;
}


@media (max-width: 1024px) {
  .Resource-container {
    flex-direction: row;
    justify-content: center;
  }
  .Resource-container > div {
    flex: 1 1 45%;
  }
  .Resource-container > div:nth-child(4),
  .Resource-container > div:nth-child(5) {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 640px) {
  .Resource-container {
    flex-direction: column;
    align-items: center;
  }
  .Resource-container > div {
    flex: 1 1 100%;
    max-width: 400px;
  }
}


